
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>月嫂评价</title>
        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <style type="text/css">
            .tb
            {
             border-width:2px;
             border-collapse:collapse;
             border-color:Yellow;
             border-style:solid;
            }
            td
            {
             border-width:2px;
             border-collapse:collapse;
             border-color:Yellow;
             border-style:solid;
            }
        </style>
    </head>
    <body>
        <div>
        <table width="1200" height="200" border="2" cellpadding="0" cellspacing="0" class="tb">
        <tr>
            <td>月嫂姓名 </td>
            <td>客户姓名 </td>
            <td>客户评价 </td>
            <td>评价时间 </td>
            <td>客户评分 </td>
        </tr>
            {% for ys in yuesao %}
        <tr>
            <td>{{ ys.name }}</td>
            <td>{{ ys.uname }} </td>
            <td>{{ ys.content }}</td>
            <td>{{ ys.time }} </td>
            <td>{{ ys.score }}</td>
        </tr>
            {% endfor %}

        </table>
        </div>
        <div id="return">
            <span style="margin-right: 20px"><a href="/">返回继续查询</a></span>
        </div>
    </body>
    </html>