<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form_input">
    <form method="post" action="/user/login_handle/" id="reg_form">
        {#这里可以不用value的，添加上是为了在输入错误的时候，也显示输入的内容，让用户可以知道哪里错了#}
        <input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{ uname }}">
        <div class="user_error">输入错误</div>
        <input type="password" name="pwd" class="pass_input" placeholder="请输入密码" value="{{ upwd }}" >
        <div class="pwd_error">输入错误</div>
{#        <div class="yzm_input"><input type="text" name="yzm" id="yzm" placeholder="请输入验证码"><img class="yzm" src="/user/yzm/"/></div>#}
{#        <div class="yzm_error">输入错误</div>#}
        <div class="more_input clearfix">
            <input type="checkbox" name="remember" value="1" checked="checked">
            <label>记住用户名</label>
            <a href="#">忘记密码</a>
        </div>
        <input type="submit" name="" value="登录" class="input_submit">
    </form>
</div>

</body>
</html>